body {
  font-family: sans-serif;
}

h5 {
  font-weight: 550;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

li {
  font-size: 15px;
  color: #4d4a4a;
  text-transform: capitalize;
}

#picture {
  width: 150px;
  margin: 20px 20px 10px 20px;
}
.weekly-image {
  width: 50px;
}

.container {
  margin: auto;
}

.temp-header {
  text-align: left;
  color: #4d4a4a;
  padding: 0px;
  font-size: 30px;
}

.temp-current {
  font-weight: 500;
}

.current-info {
  margin-top: 20px;
}

.current-time {
  font-size: 15px;
  color: #4d4a4a;
}

.current-city {
  color: #4d4a4a;
  font-size: 30px;
  margin-top: 20px;
  font-weight: 500;
}

.new-information {
  display: block;
  text-align: left;
  margin-right: 20px;
  font-size: 20px;
  padding-right: 2px;
  padding-left: 2px;
  text-transform: capitalize;
}

.new-city-search {
  font-size: 20px;
}

.days {
  margin-top: 20px;
  text-align: center;
  color: #4d4a4a;
}

.weather-forecast {
  margin-top: 15px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
  color: #4d4a4a;
  font-weight: bold;
}

.weather-forecast-temp {
  color: #4d4a4a;
  font-size: 13px;
}

.weather-forecast-temp-min {
  color: rgb(141, 140, 140);
}
